			</div>
		</main>

		<div class="border-top-primary">
			<footer class="footer container container-large padding-top-large padding-bottom-large">
				<div class="row-flex margin-bottom-small">
					{{ partial "nav-secondary.html" . }}
				</div>
				<p class="text-small text-muted">Paid for by Leo Immonen for Select Board &middot; PO Box 24, Wrentham, MA 02093</p>
			</footer>
		</div>

		{{- if isset .Params "externaljs" -}}
			{{- range $js := .Params.externaljs -}}
			<script src="{{ $js }}"></script>
			{{- end -}}
		{{- end -}}

		<script>
			{{- if .HasShortcode "wc-toc" -}}{{ readFile "/static/js/wc-simple-toc.js" | safeJS }}{{- end -}}
			{{ readFile "/static/js/swInit.js" | safeJS }}
			{{- if .HasShortcode "wc-photoswipe" -}}
				{{ readFile "/static/js/photoswipe-lightbox.umd.min.js" | safeJS }}
				{{ readFile "/static/js/photoswipe.umd.min.js" | safeJS }}
				{{ readFile "/static/js/wc-photoswipe.js" | safeJS }}
			{{- end -}}
			{{- if isset .Params "js" -}}
				{{- range $js := .Params.js -}}
					{{- if fileExists (printf "/static/js/%s.js" $js) -}}
						{{ readFile (printf "/static/js/%s.js" $js) | safeJS }}
					{{- end -}}
				{{- end -}}
			{{- end -}}
			{{ readFile "/static/js/swInit.js" | safeJS }}
		</script>
	</body>
</html>